# Author: Neel Basak
# Github: https://github.com/Neelfrost
# File: python.snippets

snippet ifmain "if __name__ == __main__" b
if __name__ == "__main__":
    $0
endsnippet

snippet forin "for _ in _" b
for $1 in $2:
    $0
endsnippet

# vim:ft=snippets:
