# Author: Neel Basak
# Github: https://github.com/Neelfrost
# File: cite.snippets

snippet cite "Citation" i
\cite{$1}$0
endsnippet

snippet citea "Cite all authors" i
\citeauthor{$1}$0
endsnippet

snippet citea* "Cite first author only" i
\citeauthor*{$1}$0
endsnippet
